.about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100%;
}

.about.header:before {
    font-family: "Tomorrow", sans-serif;
    font-size: 22px;
    color: #376E6F;
    margin-right: 10px;
    content: "0" counter(sectionCounter) ".";
}

/* .container:nth-child(3) {
    margin-left: 190px;
} */

.my-game {
    width: 475px;
}

.my-picture {
    margin-right: 300px;
    width: 300px;
}