.about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow : 1px -8px 8px black;
    margin: 0;
}

.adjust {
    margin-top: 35px;
    margin-left: 50px;
}

.adjust > *  {
    margin-left: 33px;
}

.my-game {
    width: 475px;
}

.my-picture {
    margin-right: 30px;
    width: 300px;
}