.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../images/hero_image.jpg");
    background-size: cover;
    background-position: center center;
    /* box-shadow: 1px 3px 20px black; */
}

.hero > * {
    margin: 7px;
}

.subtitle {
    font-size: 20px;
}

.title {
    font-size: 64px;
    font-weight: bold;
}