body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #272727;
    color: #D1E8E2;
}

#root {
    height: 100vh;
    min-height: 100vh;
    counter-reset: sectionCounter;
}

.section {
    margin-top: 125px;
    counter-increment: sectionCounter;
}

img {
    border-radius: 10px;
}

.name {
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    color: #376E6F;
    margin-bottom: 30px;
}

.header {
    margin-bottom: 75px;
    font-size: 24px;
    text-align: center;
}

.right {
    text-align: right;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

i {
    font-size: 36px;
    margin: 0 15px;
}