body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #272727;
    color: #D1E8E2;
}

#root {
    height: 100vh;
    min-height: 100vh;
    counter-reset: sectionCounter;
}

.section {
    min-height: 100%;
    padding-top: 95px;
    margin-top: 30px;
    counter-increment: sectionCounter;
}

img {
    border-radius: 10px;
}

.name {
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    color: #376E6F;
}

.header {
    margin-bottom: 75px;
    font-size: 24px;
    text-align: center;
}

.header:before {
    font-family: "Tomorrow", sans-serif;
    font-size: 22px;
    color: #376E6F;
    margin-right: 10px;
    content: "0" counter(sectionCounter) ".";
}

.right {
    text-align: right;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

i {
    font-size: 36px;
    margin: 0 15px;
    transition: color 0.25s;
}

i:hover {
    color: #376E6F;
}

.description {
    font-size: 20px;
    width: 675px;
    line-height: 1.5;
}