.info-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
    opacity: 0.7;
    z-index: 1;
}

.info-navbar > .links {
    justify-content: flex-start;
}

.email {
    font-size: 24px;
    margin-right: 15px;
    text-decoration: none;
    transition: color 0.25s;
}

.email:hover {
    color: #376E6F;
}