

@media only screen and (max-width: 1577px) {
    .name, i { font-size: 26px; }
}

@media only screen and (max-width: 1343px) {
    .name, i { font-size: 22px; }
    .description { font-size: 16px; }
    .technology { font-size: 16px; padding: 10px; }
}

@media only screen and (max-width: 700px) {
    .my-game { width: 90%; }
    .header { width: 90%;}
    .left-align { flex-direction: row; }
    .adjust { margin-left: 0; }
    .project, .container {flex-direction: column;}
    .title-and-links { margin: 0; } 
    .description { text-align: center; width: 80%; font-size: 20px; }
    .container > .description { margin-left: 0; margin-top: 30px; }
    .info, .project-image {
        width: 95%; 
    }
    .info {margin-top: 35px; }
    .technologies { justify-content: center; }
    .links, .info-navbar { display: none; }
    .fas.fa-bars { display: inline; }
    .other-projects-list { 
        width: 70%;
        grid-template-columns: 100%;
        grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
     }
     .skills-list { 
         width: 90%;
         justify-items: center;
         align-items: center;
         row-gap: 20px;
         grid-template-columns: 50% 50%;
         grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
     }
     .skill {
         width: 65%;
         height: 65%;
         justify-content: space-between;
     }
     .technology-image { width: 75px; }
     .contact-form { width: 90%; }
    /* .left-align { flex-direction: row; } */
}

@media only screen and (max-width: 414px) {
    .name, i { font-size: 18px; }
    .description { font-size: 16px; width: 95%; }
    .other-projects-list { width: 90%; }
    .other-project .name, .other-project i { font-size: 20px; }
    .other-project .description { font-size: 18px; }
    .skills-list {
        grid-template-columns: 100%;
        grid-template-rows: 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66%;
    }
    .technology-image {}
}