.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    width: auto;
    height: 65px;
    background-color: #272727;
    box-shadow: 1px 3px 10px black;
    /* box-shadow : 1px 8px 8px black;     */
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    margin-right: 30px;
    counter-reset: listCounter;
}

.links li {
    counter-increment: listCounter;
}

.link-content > button {
    background: none;
    border: none;
    color: #D1E8E2;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.25s;
}

.link-content > button:hover {
    color: #376E6F;
}

.link-content:before {
    font-family: "Tomorrow", sans-serif;
    font-size: 18px;
    color: #376E6F;
    margin-right: 10px;
    content: "0" counter(listCounter) ".";
}

.cv-logo {
    margin-left: 30px;
    background-color: #2e2e2e;
    border: 3px solid #376E6F;
    border-radius: 10px;
    padding: 5px;
    width: 50px;
    height: 30px;
    cursor: pointer;
}