.fade-left-appear {
    opacity: 0;
    transform: translateX(-50px);
}

.fade-left-appear-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1000ms, transform 1000ms;
}

.fade-up-appear {
    opacity: 0;
    transform: translateY(20px);
}

.fade-up-appear-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1000ms, transform 1000ms;
}