.fade-left-enter, .fade-left-appear {
    opacity: 0;
    transform: translateY(20px);
}

.fade-left-enter-active, .fade-left-appear-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 200ms, transform 200ms;
}

.fade-up-enter, .fade-up-appear {
    opacity: 0;
    transform: translateY(20px);
}

.fade-up-enter-active, .fade-up-appear-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 200ms, transform 200ms;
}

@keyframes fade-out-up {
    0% {transform: translateY(0); opacity: 1; visibility: visible; }
    100% {transform: translateY(-100px); opacity: 0}
}

@keyframes fade-in-up {
    0% {transform: translateY(100px); opacity: 0; }
    100% {transform: translateY(0); opacity: 0.5 }
}

@keyframes fade-out-down {
    0% {transform: translateY(0); opacity: 0.5; visibility: visible; }
    100% {transform: translateY(100px); opacity: 0}
}

@keyframes fade-in-down {
    0% {transform: translateY(-100px); opacity: 0; }
    100% {transform: translateY(0); opacity: 1; }
}